/* CSS Document */

@charset UTF-8;
body,
html {
    margin: 0;
    padding: 0;
}

.row,
.col {
    text-align: center;
}

.logincontainer {
    background: #efefef;
    font-family: 'Varela Round';
    display: block;
    background-size: cover;
    position: fixed;
    padding-top: 200px;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    background: #efefef;
    font-family: 'Varela Round';
    display: block;
    background-size: cover;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#title {
    text-align: center;
    padding-bottom: 20px;
}

#formcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 800px;
    /*height: 300px;*/
    color: #efefef;
    background: #000;
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
}

#menuContainer {
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    background: #000;
    background-size: cover;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#user {
    color: #fff;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
    display: flex;
}

#user>h2 {
    padding-right: 10px;
}

#user>a>img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-right: 5px;
}

#logo>a>img {
    width: 500px;
    ;
}

#menu {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#menu>img {
    width: 35px;
    height: 35px;
}